html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#principal-section {
    background-image: url('../Images/Brend-Cars.png');
    background-size: cover;
}

h1.Principal-text {
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    display: inline-block;
}

p.Text {
    color: black;
}

