@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/Sheets/Sheet.css">

<section id="index-section" class="text-white py-5">

<div class="text-center">
    <h1 class="Principal-text">Welcome</h1>
    <p>Cars and more</a>.</p>

</section>