@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html Lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=divice-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <title>AutomotiveMB</title>
</head>

<body class="PBody">
<h1>@ViewData["Title"]</h1>
<p>We haven't privacy here, maybe later'.</p>
</body>
